.header-container{
    margin: 0 auto;
    padding: 0;
}

.header-container .top-box{
    margin: 0 auto;
    padding: 20px 0 20px 0;
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container .top-box .taps ul{
    margin: 0;
    padding: 10px 30px 10px 30px;
    list-style: none;
    display: flex;
    gap: 30px;
    border-radius: 25px;
    background-color: white;
}


.header-container .top-box .taps ul li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #666;
}
.header-container .top-box .my-page ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

.header-container .top-box .my-page ul a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 800;
    color: #666;
}

.header-container .top-box .my-page ul input{
    display: none;
}