*{
    margin: 0;
    padding: 0;
}

.FTcontainer{
    width: 100%;
    background-color: #d7e3e4;
}

.FTcontainer .footer-box{
    display: flex;
    /* 가운데 정렬 재점검하기 */
}

.FTcontainer .footer-box .left-box{
    margin: 0;
    padding: 50px;
}
.FTcontainer .footer-box .left-box .lefta-box ul{ /*왼쪽 박스 정렬*/
    display: flex;
    gap: 10px;
    align-items: center;
}
.FTcontainer .footer-box .left-box .lefta-box ul li h1{ /* 반디네일*/
    color: #555;
}
.FTcontainer .footer-box .left-box .lefta-box ul li a{ /*회사소개이용약관*/
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    color: #777;
}
.FTcontainer .footer-box .left-box .leftb-box{ /*법인명상호*/
    padding-top: 10px;
}
.FTcontainer .footer-box .left-box .leftb-box p{
    font-size: 11px;
    color: #888;
}
.FTcontainer .footer-box .left-box .leftb-box p strong{
    cursor: pointer;
}

.FTcontainer .footer-box .right-box{
    margin: 50px;
    color: #555;
}
.FTcontainer .footer-box .right-box ul li h2{
    font-size: 30px;
}
.FTcontainer .footer-box .right-box ul li p{
    font-size: 12px;
}