*{
    margin: 0;
    padding: 0;
}

.top-category img{
    width: 50px;
    height: 50px;
}
.side-colorchip ul li div{
    margin: 5px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background-color: aquamarine;
}