
.category-container{
    margin: 30px 0 auto;
    padding: 0;
    color: #333;
}
.category-container .top-category{
    display: flex;
}
.category-container .top-category ul{ /* 상단 버튼 */
    margin: 0 auto;
    display: flex;
    width: 500px;
    justify-content: space-between;
}   
.category-container .top-category ul li{
    width: 60px;
}
.category-container .top-category ul li button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.category-container .top-category ul li img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.category-container .top-category ul li button:hover{
    font-weight: bold;
    text-decoration: underline;
}
.side-colorchip ul li div{
    margin: 5px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}
.category-container .side-cp{
    margin: 0 auto;
    display: flex;
}
.category-container .side-cp .side-category{ /* 사이드 카테고리 탭 */
    margin: 30px 0;
    padding: 30px 0 0 30px;
    width: 300px;
    height: 600px;
    gap: 20px;
}

.category-container .side-cp .side-category h4{
    font-size: 18px;
    margin: 0 0 20px 0;
}

.category-container .side-cp .side-category ul{
    margin: 10px auto;
}

.category-container .side-cp .side-category ul li button{
    margin: 5px auto;
    width: 60px;
    height: 25px;
    border-radius: 25px;
    border: 1px solid #c3f3ffee;;
    background-color: transparent;
    cursor: pointer;
}
.category-container .side-cp .side-category ul li button:hover{
    background-color: #c3f3ffee;;
    font-weight: bold;
}

.category-container .side-cp .side-category .side-colorchip{
    margin: 20px auto;
    padding: 20px 0 20px 0;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
}
.category-container .side-cp .side-category .side-colorchip ul{ /*컬러칩*/
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.category-container .side-cp .side-category .side-colorchip ul li{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
}

/* 컬러 버튼 */
.category-container .side-cp .side-category .side-colorchip ul li .colorChips01{ background-color: #e01010;}
.category-container .side-cp .side-category .side-colorchip ul li .colorChips02{ background-color: #ff9100; }
.category-container .side-cp .side-category .side-colorchip ul li .colorChips03{ background-color: #ffdc18; }
.category-container .side-cp .side-category .side-colorchip ul li .colorChips04{ background-color: #00b30f; }
.category-container .side-cp .side-category .side-colorchip ul li .colorChips05{ background-color: #1063e0; }
.category-container .side-cp .side-category .side-colorchip ul li .colorChips06{ background-color: #8210e0; }
.category-container .side-cp .side-category .side-colorchip ul li .colorChips07{ background-color: #fffcfc; border: 1px solid #cecece; }
.category-container .side-cp .side-category .side-colorchip ul li .colorChips08{ background-color: #222222; }
.category-container .side-cp .side-category .side-colorchip ul li div:hover{ border: 1px solid #333; }
/* 컬러버튼 끝 */

.category-container .side-cp .side-category .side-button button{
    margin-right: 10px;
    width: 60px;
    height: 25px;
    border-radius: 25px;
    border: 1px solid #defdffee;
    background-color: transparent;
    cursor: pointer;
}
.category-container .side-cp .side-category .side-button button:hover{
    background-color: #defdffee;
    font-weight: bold;
}

.category-container .side-cp .shoping{
    margin: 30px 0 0 20px;
    width: 1500px;
}