/* 레드 박스 */
#root .HdContainer{
    margin: 0 auto;
    padding: 0;
}

#root .HdContainer>hr{
    border: none;
    border-bottom: 1px solid #cecece;
}
#root .HdTop{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #d3261a;
}
#root .HdTop a{
    margin: 0 auto;
    display: flex;
    font-size: 14px;
    align-items: center;
    text-decoration: none;
    color: #ffff;
}
#root .HdTop a span{
    font-weight: bold;
}

/* 상단 마이메뉴 */
.Hdnav{
    margin: 0 auto;
    width: 1200px;
    height: 100px;
    display: flex;
    position: relative;
}

.Hdnav p{
    padding: 0;
    margin: 0;
    font-size: 11px;
    font-weight: bold;
}
.Hdnav ul{
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    display: flex;
    list-style: none;
    gap: 10px;
    position: absolute;
}
.Hdnav ul li{
    font-size: 13px;
    justify-content: space-between;
}
.Hdnav ul li a{
    text-decoration: none;
    color: #333;
}

/* 검색창 */
#root .HdContainer .logo{
    margin: 0 auto;
    width: 1200px;
    height: 35px;
    position: relative;
}
#root .HdContainer .logo input{
    position: absolute;
    right: 0;
    border: none;
    outline: none;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    background-color: #f3f3f3;
}
#root .HdContainer .logo p{
    top: 3px;
    right: 10px;
    margin: 0;
    padding: 0;
    position: absolute;
}

/* 헤더 메뉴바 */
.HdContainer .Hdmenu{
    display: flex;
    margin: 10px;
    height: 30px;
}
.HdContainer .Hdmenu ul>hr{
    border: none;
    border-right: 1px solid #999;
}

.HdContainer .Hdmenu ul{
    margin: 0 auto;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 60px;
}
.HdContainer .Hdmenu ul li a{
    text-decoration: none;
    color: #333;
    font-size: 15px;
    font-weight: 500;
}

.HdContainer .slider{
    width: 1200px;
    height: 350px;
    margin: 0 auto;
    background-color: beige;
}