.section-container{
    width: 1800px;
    margin:0 auto;
    padding: 20px;
}
.section-container .list01{}

.section-container h1{
    margin-top: 50px;
    font-weight: bold;
    font-size: 20px;
    color: #f8f8f8ee;
}
.section-container ul{
    margin: 0;
    padding: 0;
}
.section-container img{
    border-radius: 10px;
}
.list01 ul{
    display: flex;
    list-style: none;
    gap: 15px;
}
.list02 ul{
    display: flex;
    list-style: none;
    gap: 15px;
}
.list03 ul{
    display: flex;
    list-style: none;
    gap: 15px;
}
.list04 ul{
    display: flex;
    list-style: none;
    gap: 15px;
}
.list05 ul{
    display: flex;
    list-style: none;
    gap: 15px;
}