*{
    margin: 0;
    padding: 0;
}


.BigSlideContainer{
    width: 100%;
    position: relative;
    background-color: aqua;
}

.BigSlideContainer .btnbox{}

.BigSlideContainer .btnbox .sdPrev{ /* 좌우 버튼 */
    position: absolute;
    left: 2%;
    top: 45%;
    background-color: transparent;
    font-size: 50px;
    text-align: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.BigSlideContainer .btnbox .sdNext{
    position: absolute;
    right: 2%;
    top: 45%;
    background-color: transparent;
    font-size: 50px;
    text-align: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.BigSlideContainer .btnbox img{ /* 슬라이드 이미지 크기*/
    width: 100%;

}
.BigSlideContainer .btnbox02{ /* 하단 슬라이드 버튼*/
    position: absolute;
    padding: 5px 15px;
    border-radius: 25px;
    display: flex;
    gap: 20px;
    bottom: 3%;
    left: 45%;
    align-items: center;
    text-align: center;
    border: 1px solid #999;
    background-color: #eeee;
}

.BigSlideContainer .btnbox02 .Tap_btn{ /* 재생 정지*/
    width: 20px;
    height: 20px;
}
.BigSlideContainer .btnbox02 .Tap_btn .sdStop{
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 80%;
}

.BigSlideContainer .btnbox02 .Tap_btn .sdStop img{
    transform: translateX(-15%) translateY(-15%);
}

.BigSlideContainer .btnbox02 .Tap_btn02{ /* 순서 버튼 */
    display: flex;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.BigSlideContainer .btnbox02 .Tap_btn02 .slideBigoff{
    border: none;
    background-color: transparent;
    opacity: 50%;
    cursor: pointer;
}
.BigSlideContainer .btnbox02 .Tap_btn02 .slideBigon{
    border: none;
    background-color: transparent;
    opacity: 100%;
    cursor: pointer;
}
