 div{
  margin: 0 auto;
  padding: 0;
 }
 div ul{
  list-style: none;
  display: flex;
  margin: 0px auto;
  padding: 0;
  gap: 10px;
  flex-wrap: wrap;
 }
 div ul li{
  padding: 0;
  margin-bottom: 20px;
  width: 200px;
  height: 250px;
  border-radius: 5px;
  align-items: center;
  border: 1px solid #dadada;
  background-color: #fdfdf7;
 }
 h1, h2, h2, h4{
  margin: 10px;
  padding: 0;
  font-weight: bold;
  color: #b44504;
 }
 li p{
  margin: 0;
  padding: 0;
  color: #535353;
  font-size: 14px;
 }
 li p strong{
  font-size: 16px;
  color: #098b6f;
 }
 li img{
  margin-top: 10px;
 }