.cart-container{
    margin:auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 1200px;
    padding: 0;
}

input[type="checkbox"] { /*체크박스 공통 배경색*/
  accent-color: #801b34;
}

.cart-container .table-box{
    margin: 0 auto;
    padding: 0;
}
.cart-container .table-box table{
    margin: 0 auto;
    padding: 0;
    width: 1200px;
    border-collapse: collapse;
}

.cart-container .table-box table caption .capbox{ /*캡션 - 장바구니*/
    margin: 20px 0 10px 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-container .table-box table caption .capbox h2{
    font-size: 25px;
    font-weight: 400;
    display: flex;
    align-items: center;
}
.cart-container .table-box table caption .capbox h2 p{
    margin: 0 10px;
    padding: 0;
    font-size: 14px;
    color: #666;
    display: flex;
}
.cart-container .table-box table caption .capbox h2 p strong{
    margin: 0 0 0 5px;
    padding: 0;
    color: white;
    display: block;
    font-weight: 500;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background-color: #61182a;
}

.cart-container .table-box table caption .capbox button{ /*전체삭제*/
    width: 80px;
    height: 35px;
    border: none;
    border-radius: 25px;
    color: #333;
    background-color: #dbdbdb;
}
.cart-container .table-box table caption .capbox button:hover{
    background-color: #c5c5c5;
}

.cart-container .table-box table tbody{
    margin: 0 auto;
    width: 935px;
}

.cart-container .table-box table tbody .th-bold th{ /* 표 제목 */
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
    color: #a8a8a8;
    border-top: 1px solid #b9b9b9cc;
    border-bottom: 1px solid #b9b9b9cc;
}

.cart-container .table-box table tbody .th-bold .big-th{ /* 표 넓이*/
    width: 700px;
}
.cart-container .table-box table tbody .th-bold .small-th{
    width: 100px;
}

.cart-container .table-box table tr{
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #b9b9b9cc;
}
.cart-container .table-box table tr .table-center-title{
    margin: 10px 0 10px 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.cart-container .table-box table tr .table-center-title>input{
    margin: 0 10px 0 0;
    width: 16px;
    height: 16px;
}
.cart-container .table-box table tr .table-center-title img{ /* 상품 이미지 */
    width: 80px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
}
.cart-container .table-box table tr .table-center-title p{
    padding: 0 0 0 10px;
    font-size: 13px;
    color: #464646;
}
.cart-container .table-box table tr .table-rigt{
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
    border: 1px solid #b9b9b9cc;
}
.cart-container .table-box table tr .table-rigt>button{ /* 상품빼기 */
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
    font-size: 11px;
    border-radius: 25px;
    border: none;
    background-color: #ffffffee;
    color: #818181;
}
.cart-container .table-box table tr .table-rigt .table-btnbox{
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 80px;
    height: 25px;
    align-items: center;
    border: 1px solid #801b34;
    border-radius: 25px;
    background-color: transparent;
}
.cart-container .table-box table tr .table-rigt .table-btnbox>p{
    font-size: 13px;
    font-weight: bold;
}
.cart-container .table-box table tr .table-rigt .table-btnbox button{
    margin: 0;
    padding: 0;
    width: 25px;
    font-size: 20px;
    color: #4e4e4e;
    border: none;
    background-color: transparent;
}
.cart-container .table-box table tr .rmador{
    text-align: center;
    border: 1px solid #b9b9b9cc;
}
.cart-container .table-box table tr .rmador p{ /*금액*/
    font-weight: bold;
    font-size: 15px;
    color: #333;
}
.cart-container .table-box table tr .qothd p{ /*배송비*/
    font-size: 13px;
    color: #666;
    text-align: center;
}
.cart-container .table-box .table-btm{
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.cart-container .table-box .table-btm p{ /* 하단 총합계 금액*/
    margin: 40px 0 20px 0;
    font-size: 20px;
    font-weight: 500;
    color: #333;
}
.cart-container .table-box .table-btm button{ /*선택주문버튼*/
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 25px;
    font-size: 13px;
    background-color: #ffd86d;
    cursor: pointer;
}
.cart-container .table-box .table-btm button:hover{
    font-weight: 500;
    background-color: #ffbd43;
}

.cart-container .cart-buybtn{ /* 주문버튼 */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    gap: 10px;
}
.cart-container .cart-buybtn .naverbtm{
    width: 200px;
    height: 40px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    background-color: #5ddf5d;
    cursor: pointer;
}
.cart-container .cart-buybtn .naverbtm:hover{
    background-color: #45ce45;
}
.cart-container .cart-buybtn .cocobtm{
    width: 200px;
    height: 40px;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: #61182a;
    cursor: pointer;
}
.cart-container .cart-buybtn .cocobtm:hover{
    background-color: #7c1a32;
}