.detail-container{
    margin: 0 auto;
    padding: 0;
    background-color: #faf4ef;
}

.detail-container .sub-container{
    margin: 0 auto;
    padding: 0;
    width: 1500px;
    display: flex;
}
.detail-container .left-box{
    margin: 0;
    padding: 0;
}

.detail-container .sub-container .left-box .tab-top{}

.detail-container .sub-container .left-box .tab-top ul{
    display: flex;
    list-style: none;
}
.detail-container .sub-container .left-box .tab-top{}
.detail-container .sub-container .left-box .tab-top .bic-img{}
.detail-container .sub-container .left-box .tab-top .bic-img .imgboxbic{
    display: block;
    width: 600px;
    height: 600px;
}
.detail-container .sub-container .left-box .tab-top .bic-img .imgboxbic img{
    width: 600px;
}
.detail-container .sub-container .left-box .tab-top .bic-img ul{
    margin: 10px 0;
    padding: 0;
    display: flex;
    gap: 5px;
}
.detail-container .sub-container .left-box .tab-top .bic-img ul li .imgboxsmall{
    display: block;
    width: 100px;
    height: 100px;
}
.detail-container .sub-container .left-box .tab-top .bic-img ul li .imgboxsmall img{
    width: 100px;
}

.detail-container .sub-container .right-box{
    margin: 30px 0 0 100px;
    padding: 0;
    width: 100%;
}
.detail-container .sub-container .right-box #buyput{
    margin: 20px 0 20px 0;
    width: 100%;
    height: 40px;
    background-color: transparent;
}
.detail-container .sub-container .right-box .side-title ul{
    margin: 0 auto;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.detail-container .sub-container .right-box .side-btn ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.detail-container .sub-container .right-box .side-btn ul li .sidebtn01{
    margin: 0;
    padding: 0 10px 0 10px;
    font-weight: bold;
    width: 450px;
    height: 40px;
    border: none;
    border-radius: 25px;
    background-color: #5ddf5d;
}
.detail-container .sub-container .right-box .side-btn ul li .sidebtn02{
    margin: 0;
    padding: 0 10px 0 10px;
    font-weight: bold;
    color: #61182a;
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 25px;
    background-color: #f5f5f5;
    border: 2px solid #61182a;
}
.detail-container .sub-container .right-box .side-btn ul li .sidebtn03{
    margin: 0;
    padding: 0 10px 0 10px;
    font-weight: bold;
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 25px;
    background-color: #a52e4c;
}
.detail-container .sub-container .right-box .side-btn ul li .sidebtn04{
    margin: 0;
    padding: 0 10px 0 10px;
    font-weight: bold;
    color: #61182a;
    width: 800px;
    height: 40px;
    border: none;
    border-radius: 25px;
    background-color: #ffd86d;
}

.detail-container .detail-imgbox{
    margin: 0 auto;
    margin-top: 100px;
    padding: 0;
    width: 1400px;
    height: 3000px;
}