.section-container{
    margin: 0 auto;
    margin-bottom: 70px;
    padding: 0;
    width: 100%;
}

.section-container .top-title{
    margin: 0 auto;
    padding: 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-container .top-title h1{
    font-size: 50px;
}

.section-container .page-tap{
    margin: 0 auto;
    padding: 0;
    width: 1400px;
    height: 45px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.section-container .page-tap ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 90px;
}

.section-container .page-tap ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #888;
    border: none;
}
.section-container .page-tap ul li button{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #888;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

