*{
    padding: 0;
    margin: 0;
}

.header-Containner{
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
}

.header-Containner .hd-bar{
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #eeffff;
}

.header-Containner .hd-bar .menu-bar ul{ /* 헤더 탭 왼쪽 샵 메뉴 */
    display: flex;
    gap: 30px;
}
.header-Containner .hd-bar .menu-bar ul li a{ /* 헤더 탭 왼쪽 Link */
    font-size: 15px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    
}


.header-Containner .hd-bar .menu-bar ul li a:hover{
    /* text-decoration: underline; */
    border-bottom: 1px solid #1385d1;
    color: #1385d1;
}

.header-Containner .hd-bar .logo a{ /* BANDI */
    display: flex;
    text-decoration: none;
    color: #333;
}
.header-Containner .hd-bar .mymenu-bar{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.header-Containner .hd-bar .mymenu-bar .search-bar{ /* 검색바*/
    position: relative;
    display: flex;
    align-items: center;
}
.header-Containner .hd-bar .mymenu-bar .search-bar input{
    width: 200px;
    height: 20px;
    padding: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #888;
    cursor: pointer;
}
.header-Containner .hd-bar .mymenu-bar ul{ /* 헤더 탭 오른쪽 마이 메뉴*/
    display: flex;
    gap: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.header-Containner .hd-bar .mymenu-bar ul li a{ /* 헤더 탭 오른쪽 마이 메뉴*/
    text-decoration: none;
    color: #333;
    font-weight: 600;    
}
.header-Containner .hd-bar .mymenu-bar ul li img{ /* 아이콘 크기 */
    width: 25px;
    height: 25px;
}