/* 기본 초기화 */
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

li { list-style: none; }
a { text-decoration: none; color: inherit; }

.header-container {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #eeffff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.hd-bar {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* 로고 스타일 */
.logo h1 {
    font-size: 24px;
    color: #333;
}

/* 메뉴 바 스타일 */
.main-menu {
    display: flex;
    gap: 50px;
    width: 1000px;
    height: 100%;
    align-items: center;
}

.menu-item {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}


.main-link {
    font-size: 15px;
    font-weight: 600;
    color: #333;
    line-height: 60px;
    padding: 0 15px;
    display: block;
    transition: color 0.3s;
}

.main-link:hover {
    color: #1385d1;
}

/* 드롭다운 네비게이션 - 기존 컬러 및 스타일 적용 */

.dropnavi {
    position: absolute;
    top: 100%;
    left: 80%;
    transform: translateX(-50%);
    background-color: #eeffff;
    min-width: 150px;
    box-shadow: 0 4px 10px #0000001a;
    padding: 10px 0;
    z-index: 10;
}

.dropnavi li {
    width: 100%;
}

.dropnavi li a {
    display: block;
    padding: 10px 20px;
    font-size: 14px;
    color: #555;
    font-weight: 600;
    text-align: left;
    white-space: nowrap;
    transition: all 0.2s;
}

.dropnavi li a:hover {
    background-color: #dffeff;
    color: #1385d1;
}

/* 마이메뉴 - 검색바 */
.mymenu-bar {
    display: flex;
    align-items: center;
    gap: 30px;
}

.search-bar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #888;
    padding-bottom: 2px;
    cursor: pointer;
}

.search-bar input {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    width: 200px;
    height: 20px;
}

.icon-menu {
    display: flex;
    gap: 30px;
    align-items: center;
}


.mymenu-bar .icon-menu li a img {
    width: 25px;
    height: 25px;
}
.mymenu-bar .icon-menu .cart-icon-wrapper{
    position: relative;
}

.mymenu-bar .icon-menu .cart-icon-wrapper a span.cart-badge{
    display: flex;
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #0044ff50;
    top: -5px;
    right: -10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 25px;
    justify-content: center;
}